.portfolio-banner {
  position: relative;
  background-image: url('/Image/breadgramb_bg.jpg'); 
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-hero {
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 2;
}

.overlay-hero h1 {
  font-size: 2.5rem;
  margin: 0;
}

.overlay-hero p {
  margin-top: 10px;
  font-size: 1rem;
  color: #eee;
}
